[2016-04-13 05:42] leopoldjoy opened #1 "autobind-decorator doesn't exist error"
@valerybugakov I've installed `react-selectable-fast` using `npm install react-selectable-fast`, however when I try to run my project, I get this error:

    ./~/react-selectable-fast/lib/CreateSelectable.js
    [0] Module not found: Error: Cannot resolve module 'autobind-decorator' in /my/project/node_modules/react-selectable-fast/lib
    [0] resolve module autobind-decorator in /my/project/node_

[2016-04-13 07:18] valerybugakov commented on #1
Thanks for the issue @leopoldjoy. I've updated package.json to fix that and published new version to NPM.

[2016-04-13 20:09] leopoldjoy commented on #1
@valerybugakov Great! That fixed it! Also, note, I made a pull request to add support for the style property to the SelectableGroup component. Thanks for your work! :+1:

[2016-04-13 20:09] #1 closed

[2016-04-14 21:20] leopoldjoy opened #3 "Use react-selectable-fast with Redux?"
@valerybugakov Is it possible to use `react-selectable-fast` with `redux`?

Here is my code:

    import React, {Component, PropTypes} from 'react';
    import {connect} from 'react-redux';
    import { SelectableGroup, createSelectable } from 'react-selectable-fast';
    import autobind from 'autobind-decorator';

    import SelectablePartition from '../SelectablePartition/SelectablePartition';

[2016-04-15 03:54] leopoldjoy commented on #3
@valerybugakov Nevermind, I realized that `react-selectable-fast` internally stores the state, so there's no need to set it up with the reducer. I got it working. Thanks for your great work!

[2016-04-15 03:54] #3 closed

[2016-04-15 07:47] valerybugakov commented on #3
@leopoldjoy yep, you can store selected items in Redux state using callbacks `duringSelection` and `onSelectionFinish`.

[2016-04-19 07:07] leopoldjoy opened #4 "Not working on mobile"
I setup and installed react-selectable-fast. However when I view the app on iOS devices, touch/drag selection doesn't work, only tap. So it is not possible to select multiple items with one motion.

[2016-04-19 13:56] valerybugakov commented on #4
It's a known, I'm planning to fix that. But I will be happy to accept a pull request with this functionality.

[2016-04-20 21:19] leopoldjoy opened #5 "WhiteList not working on drag"
WhiteList is not working on drag—if you drag a box that includes a whitelisted item, it is selected. *Only* clicking is disabled for whitelisted items.

[2016-04-30 03:41] leopoldjoy commented on #4
@valerybugakov Please see my [pull request](https://github.com/valerybugakov/react-selectable-fast/pull/6), I have added mobile support for drag.

[2016-04-30 03:42] leopoldjoy commented on #5
@valerybugakov Please note, my new [pull request](https://github.com/valerybugakov/react-selectable-fast/pull/6) fixes this issue.

[2016-05-01 18:57] valerybugakov commented on #5
@leopoldjoy I've published new version to NPM. Thanks for your contributions!

[2016-05-01 20:15] #5 closed

[2016-05-01 20:15] #4 closed

[2016-07-13 13:05] Maher4Ever opened #9 "Allow disabling support for selection box"
Hey there,

I'm wrapping a [Material-UI](http://www.material-ui.com/) list with a `SelectableGroup` to allow users to multi-select them. I only want users to be able to click on items to select them and deselect them. However, if a user moves his mouse slightly while clicking it's registered as a mouse up event and if the item it already selected nothing happens!

Would it be possible to add an op

[2016-07-13 13:08] Maher4Ever commented on #9
Another option ofc is to allow deselecting items using the selection box.

[2016-07-14 08:30] valerybugakov commented on #9
Hey @Maher4Ever
It's a good call, I've pushed some changes - check out `enableDeselect` and `mixedDeselect` options in README.md. Also can you test on your end that everything ok and then I'll publish an updated version to the NPM?

[2016-07-14 11:06] Maher4Ever commented on #9
Thank you very much for the quick change! It works flawlessly :).

Note: The example code and the usage section in README still reference the `dontClearSelection` prop that got removed.

[2016-07-14 11:58] valerybugakov commented on #9
Thanks, published new version to NPM, check it out 😊

[2016-07-14 13:15] Maher4Ever commented on #9
Perfect! Thank you again.

[2016-07-14 13:15] #9 closed

[2016-08-24 00:01] ivadenis opened #10 "Whitelist should only allow items to be selectable, not exclude them"
`whitelist` property on `SelectableGroup` should allow items from this list to be selectable and not other way around.

[2016-08-24 00:51] ivadenis commented on #3
@valerybugakov for redux, it would be much more flexible if you got rid of internal state. That way the component is more flexible IMHO. For example, you can implement sorting/filtering/hot-keys etc. based on the actions outside of SelectableGroup.

[2016-08-25 18:31] valerybugakov commented on #3
@ivadenis can you describe a case where internal state of the plugin will limit an ability to implement those features with Redux or any other state management container? From my understanding it can be done easily with HOC over SelectableGroup which will sort/filter element or handle hot keys.

[2016-08-25 18:35] valerybugakov commented on #10
@ivadenis interesting observation, maybe it will be better to rename `whilteList` to `blackList` or `ignore`?

[2016-11-03 21:56] #10 closed

[2016-12-02 17:01] nebtrx opened #11 "IsMounted deprecated"
Hi,
First, congratulations on the job done with this. I've using it for a couple of days and it works like charm, but I'm getting the following warning:

[code]
According to [this](https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html) `isMounted` is deprecated and will probably be removed in later versions of React. Is there a chance to upgrade this `approach`?

[2016-12-02 17:07] valerybugakov commented on #11
Hi, thank you for your feedback!
Can you provide some details on how to reproduce this warning? I haven't seen it in my use cases.

[2016-12-02 17:34] nebtrx commented on #11
Sure!. My bad. Sorry for that.

I'm using [`purescript`](http://www.purescript.org/) with [`Pux`](http://www.alexmingoia.com/purescript-pux/) wrapper. My `jsx` view is loaded as a foreign import. `Pux` uses an approach in wich you define a `State` object and `actions`. Every action has an associated transformation that accepts and state as input and returns a new one modified.

So, I have a matrix

[2016-12-07 13:31] valerybugakov commented on #11
I've double check the code according to your stack trace. It looks really weird, because I use mentioned above pattern to unsubscribe `selectableItems` from `selectableGroup` in `componentWillUnmount` lifecycle hook.
In your case you might see this warning only because your `selectableGroup` component is unmounted between `mouseDown` event and `mouseUp` event. I will add some code to cover this ca

[2016-12-07 22:14] valerybugakov commented on #11
@nebtrx I've push small fix into master branch, so you can try it out on your code.

[2016-12-07 22:17] nebtrx commented on #11
Great @valerybugakov . Sorry for not answering on time. I've been occupied all day with other stuff. I'll check this ASAP(hopefully tonight). Thanks for the commitment taking the time to deal with this pal. Be sure I'll check it out and get back to you

[2017-01-09 15:11] andreasloskan commented on #11
[code]

to:

[code]

[2017-01-10 11:53] valerybugakov commented on #11
@andreasloskan
Thanks for your comment, I found an issue in `CreateSelectable` component, `selectableKey` isn't used anymore. Pushed a small fix, let me know if the issue is gone.

[2017-02-06 23:51] bkrall opened #12 "Max select?"
This looks great - is there a way to limit how many selections can be made (max select)?

i.e., if I were to list 10 items and only allow up to 5 to be selected.

[2017-02-07 12:19] valerybugakov commented on #12
Hey @bkrall for now the only solution I see is to update `ignoreList` prop on the `SelectableGroup` when number of selected items goes off limit. It should do the trick.

Maybe it would be better to implement something like `shouldComponentBeSelected` callback in the package itself which would be called right before selection. What do you think?

[2017-02-22 09:05] vivaxy opened #13 "How can I select a selectable component when component mounted"
When initializing with some components selected, please accept selected props from a selectable component.

[2017-02-22 09:54] #13 closed

[2017-02-22 10:01] valerybugakov commented on #13
Hey, thanks for the PR. Published new version 1.3.0.

[2017-03-24 20:02] valerybugakov commented on #11
I will close this one due to inactivity. Feel free to reopen if the issue is still persists.

[2017-03-24 20:02] #11 closed

[2017-03-24 20:03] valerybugakov commented on #12
I will close this one due to inactivity. Feel free to reopen if the issue is still persists.

[2017-03-24 20:03] #12 closed

[2017-04-20 17:59] brmscheiner opened #16 "Select SVG elements"
Is it possible to use this library to select SVG elements? I set up a SelectableGroup inside my SVG tag with the class "timeline-selectable-group." Inside I see that the library has created an empty div for the selectionbox, but on mouseDown the class of that div does not change. Here is a simplified version of the DOM:

`<svg height="300px" width="500px">
  <g class="timeline-selectable-group">

[2017-04-21 12:26] valerybugakov commented on #16
@brmscheiner could you check if `mouseDown` method in `Selectable-group.js` is triggered? Also it may not work because `div` is created inside of SVG element. Maybe this docs will be helpful: https://developer.mozilla.org/en/docs/Web/SVG/Element/foreignObject

Also I would try to wrap SVG inside of `div` as `SelectableGroup` if it's possible in your context.

[2017-04-23 08:20] brmscheiner commented on #16
that did the trick! thank you

[2017-04-23 08:20] #16 closed

[2017-08-22 12:48] chemitaxis opened #17 "Error when importing"
Hi, I have created a new CRA app. I have installed the library with npm:

`npm i -S react-selectable-fast`

After this, I have imported it:

[code]

But the app, is crashing...

Any ideas? Thanks!

[2017-08-22 17:36] valerybugakov commented on #17
@chemitaxis thanks for the report, it's probably because those polyfills are not added into deps in `package.json`. I will be able to look into it tomorrow, but PR is welcome :) Should be an easy fix though.

https://github.com/valerybugakov/react-selectable-fast/blob/b5a8f88d8f59fd692311d8fd5929c75466cb8b24/src/Selectable-group.js#L1-L5

[2017-08-22 18:51] chemitaxis commented on #17
No problem, I can do it ;) I will check at home! Thanks for the work!

[2017-08-23 07:10] valerybugakov commented on #17
@chemitaxis hey, thanks for PR! I thought about it one more time and it seems that it's better to exclude those polyfills out of the package and allow users to include them if needed. I've updated README and added a guard check in case of required global are not available. Also I've published an updated version to NPM.

Let me know it works for you :)

[2017-08-23 07:37] chemitaxis commented on #17
Hi @valerybugakov is ok for me... thanks! I will close the issue and the PR.

[2017-08-23 07:37] #17 closed

[2017-08-24 09:49] chemitaxis opened #19 "Main div scaled"
Hi @valerybugakov we are using react-selectable-fast, but we have found a problem if the main div is scaled.

For example, if you get the .main class css, and add a property like this:

[code]

The example is not working, because the selector if not working correctly. How it can be solved? We can use maybe a "delta" value, to get the scaled property and adapt the position of the SelectBox...

Can

[2017-08-24 10:18] chemitaxis commented on #19
Ok, I'm working right now in this, if you get the SelectableGroup outside of the div scaled bt transform css is working, I will give you feedback later ;)

[2017-08-24 17:51] valerybugakov commented on #19
Hey @chemitaxis, you can you try to pass `scale` prop. Because scaled container is a rare case for me and I didn't have a chance to test it across different browsers I didn't include into `configuration` section in README. Also you can check method where this prop is used:

https://github.com/valerybugakov/react-selectable-fast/blob/master/src/SelectableGroup.js#L141

[2017-08-24 18:27] chemitaxis commented on #19
Oh! Look great! I will check later and back here with a feedback! Thanks!

[2017-08-28 14:45] chemitaxis commented on #19
Solved in #22

[2017-08-28 14:45] #19 closed

[2017-09-25 12:07] Gaara526 opened #24 "document.body.scrollTop is not computed correctly in the latest Chrome"
hi, in the src/getBoundsForNode.js file 'document.body.scrollTop' is aways computed as 0 in the latest Chrome(version61.0.3163.100), but in other version, 'document.body.scrollTop' is computed correctly, so you should do compatible processing，like this 'scrollTop=document.body.scrollTop+document.documentElement.scrollTop'

[2017-09-26 09:32] #24 closed

[2017-09-26 09:34] valerybugakov commented on #24
Thanks for reporting that! Should be fixed with a new version in NPM. Please reopen if issue still exists.

[2017-10-22 17:56] ionHive opened #25 "Error Uncaught TypeError: this.updater.enqueueCallback is not a function when trying selectbox"
package.json
{
  "name": "viewcreator",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "babel-eslint": "^7.2.3",
    "babel-polyfill": "^6.26.0",
    "bootstrap": "^3.3.7",
    "d3": "^4.0.0",
    "eslint": "^4.9.0",
    "eslint-plugin-flowtype": "^2.39.1",
    "eslint-plugin-jsx-a11y": "^5.1.1",
    "eslint-plugin-react": "^7.4.0",
    "react": "^16.0.0",
    "react-bootstrap":

[2017-10-22 19:11] valerybugakov commented on #25
@ionHive how can I reproduce this issue in the example? Also it looks like a React related issue: https://github.com/facebook/react/issues/10320

[2017-10-22 19:30] valerybugakov commented on #25
@ionHive I got everything working in a scaffolded CRA with your package.json file.

[2017-10-23 01:14] ionHive commented on #25
Thanks! I removed all npm modules and re-added them one by one. Then it worked.

[2017-10-23 01:15] #25 closed

[2017-10-25 16:14] qwe75300 opened #26 "The selection box does not appear when you drag the mouse?"
When the mouse is dragged selection box does not appear but the console.log will appear normally

Here is my test code:

[code]

[code]

[2017-10-25 18:32] valerybugakov commented on #26
@qwe75300 do you have styles somewhere for `.selectable-selectbox`?

[2017-10-26 00:59] qwe75300 commented on #26
No i only use material ```.selectable-selectbox``` it's essential?

[2017-10-26 07:43] valerybugakov commented on #26
@qwe75300 This package doesn't provide any styles out of the box, that's why selectbox isn't visible without any styles.

[2017-10-26 08:20] qwe75300 commented on #26
I was wrong i mean rag the mouse dotted line box not selection box

[2017-10-26 10:32] valerybugakov commented on #26
@qwe75300 so you don't see dashed line when selecting, right? Try adding styles like this to your app
[code]

[2017-10-26 14:33] qwe75300 commented on #26
Should be selected to be dashed line but my operation did not appear

![20171026_222613](https://user-images.githubusercontent.com/20525933/32059086-9e2aaed8-ba9d-11e7-9cdd-03eb5be12d4d.gif)

[2017-10-30 13:56] valerybugakov commented on #26
Have you tried adding CSS I mentioned above? Do you see any error messages in the console? Would be nice to have an example repo with this behaviour.

[2017-11-05 18:30] valerybugakov commented on #26
Hey @qwe75300, is this issue still a thing?

[2017-11-08 07:00] ethanresnick opened #27 "Support disabling/overriding the clear on escape functionality"
Hi,

Thanks for the great library!

One small request: I'd love it if there were an option to disable clearing the selection when the escape key is pressed.

I have a UI right now where sometimes the user opens a modal after they've started to make a selection. The issue is that, if the user presses escape to close the modal, it also clears the selection. Is there any way around this currently, or

[2017-11-08 09:55] valerybugakov commented on #27
Hey @ethanresnick, fair enough. I've added a flag to disable this behavior. Check out `README.md` updates.

[2017-11-08 09:59] valerybugakov commented on #26
Closing this due to inactivity.

[2017-11-08 09:59] #26 closed

[2018-02-28 23:42] danilvalov opened #28 "How to use this library with inline multiline elements?"
Hi.

I have a very interesting case for your brains :)

I have a problem with getting the start and end positions of inline elements in this library. When we try to get a position of a multiline inline element, JS considers the inline element as a block element: start is at the start of the first line (not at the start of the element) and end is at the end of the last line (not at the end of the e

[2018-03-01 10:01] valerybugakov commented on #28
Hey, so the problem is that you don't want selection to work when lasso is over down right corner of the block because there're no inline elements?
[code]

- lasso activates here
= lasso ignores this area

If not please provide an example with this library :)

[2018-03-01 12:27] danilvalov commented on #28
@valerybugakov Yeap, you're right.
I want selection to work only when we see an inline element but not when the inline element ends in an incorrect DOM tree (who considers the inline element as a block element and calculates its position as a block element).

[2018-03-01 22:12] danilvalov commented on #28
I did it!

Look:
![](https://cl.ly/0e1Y3K2m3X3R/Screen%20Recording%202018-03-02%20at%2003.56%20AM.gif)

Solution:
https://github.com/danilvalov/react-selectable-fast/commit/e237bd25294c7372742080dc30d38e4cf9c45bc8

Source (with this working example):
https://github.com/danilvalov/react-selectable-fast/tree/feature/add_support_for_inline_multiline_elements

I think most users (almost all) don't nee

[2018-03-01 22:12] #28 closed

[2018-03-23 09:56] madebysid opened #31 "Using this with input fields"
Hey @valerybugakov!

First off, thanks for this library, it has made my life so much simpler! I'm currently using this with `input` elements. What I see is that if the input element is inside the `SelectableGroup`, clicking on the input is treated as a click on the selectable item, and it isn't propagated inside the element. As a result, I cannot focus the `input`. Here's a little GIF that illustr

[2018-04-19 16:42] Felix-N opened #32 "Using react-selectable-fast with a virtualized list"
Hi,

I'm using react-selectable-fast together with a virtualized list (using [react-virtualized](https://github.com/bvaughn/react-virtualized)

I'm preserving the selected state outside in the list, and pass it to the elements as prop when they get added to the DOM again.

In case selectable elements are removed and readed to the DOM with the prop/sate selected, the used sets registry and selected

[2018-04-23 12:25] valerybugakov commented on #32
Hey @Felix-N, thanks for pointing to the issue!

There's an `unregister` call in `componentWillUnmount` method of the `selectable` item. But in the implementation of this method I don't remove this item from `selectedItems` and `selectingItems` registries.

Will release fixed version today which should solve the issue for you.

[2018-04-23 13:30] valerybugakov commented on #31
Hey @madebysid, is it still a relevant issue for you? If I understand your logic correctly and `e.preventDefault` would be in place then clicking on different inputs inside of the row would select/deselect it every time. Am I missing something here or it's the desired behavior?

[2018-05-01 08:55] valerybugakov commented on #32
I'll close this one for now, feel free to reopen.

[2018-05-01 08:55] #32 closed

[2018-05-01 08:56] valerybugakov commented on #31
I'll close this one for now, feel free to reopen.

[2018-05-01 08:56] #31 closed

[2018-05-01 15:07] madebysid commented on #31
Hey @valerybugakov, sorry for the delay. The selection/deselection works as expected, but what I'm looking to do is to focus the input so I can type into it. All the columns in the row in the GIF are input fields, but when I try to focus a field there, the library captures the event, selects the row, and then stops propagation, preventing the event from reaching the input. This is what I want to a

[2018-05-08 04:13] blitze opened #33 "allowClickWithoutSelected does not seem to work reliably"
So I have a bootstrap list group that collapses onClick. Unless I'm misusing it, setting allowClickWithoutSelected to false is supposed only set the list in selection mode when you start dragging. As you can see from the below codesandbox, it doesn't always work. Sometimes clicking on the list collapses it as it should but sometimes it selects it. This issue is similar to this closed issue [here](

[2018-06-03 11:59] danial24 opened #34 "Selection should sustain if we reposition the items"
Let say I have 10 items in the list. I have selected an item that is at the 5th position. Now I do a reorder of the list or a sort. Now that Item that was selected has now moved to a new position let say 8th.
Expected:
It should be selected there.
Actual:
It is not selected
And the Item that is now on  5th position is selected.

Please correct me if there is some issue with the usage of the librar

[2018-06-03 17:47] danial24 commented on #34
I am reordering a list with some of the items pre selected.
Let say I have two Items => Item1 and Item2
Item1 is selected
Item2 is not

When I reverse the list, item1 is now replaced with item2
Expected:
Item1 should be selected
Actual:
Item2 is selected

I guess the selected position remains selected whatever item is rendered.

[2018-06-04 10:32] valerybugakov commented on #34
@danial24 have you checked the example app? It works there as expected.

[2018-06-06 07:30] valerybugakov commented on #34
I'll close it, for now, feel free to reopen if the issue still exists.

[2018-06-06 07:30] #34 closed

[2018-07-31 21:59] myrs opened #36 "To define if item is selected, read "selected" value from state and not from props."
in `src/SelectableGroup.js`, this code:
[code]

should be updated to
[code]

The reason to use state, is that `selected` prop can be passed to the selectable component to indicate default state, e.g.:
[code]

`createSelectable` HOC already initializes `state.selected` with `props.selected`.
But, when selecting elements, the `state` is ignored and `props` are read instead, so selection doesn't work

[2018-08-03 11:11] valerybugakov commented on #36
@myrs could you create a PR with these changes? I would be happy to test it and merge into the project.

[2018-08-03 16:48] myrs commented on #36
@valerybugakov 👌 working on it

[2018-08-03 17:40] myrs commented on #36
done [PR](https://github.com/valerybugakov/react-selectable-fast/pull/37) 🙂

[2018-08-06 20:59] mikhail-yaroshevsky-wizeline commented on #36
@valerybugakov can you check the PR please?

[2018-08-10 01:55] tgreen7 opened #39 "Drag select box is out of position when using flex styling"
demo of issue: https://tgreen7.github.io/test-react-selectable/
repo of issue: https://github.com/tgreen7/test-react-selectable

[2018-08-10 14:56] valerybugakov commented on #36
@mikhail-yaroshevsky-wizeline @myrs merged it. Releasing new version to the NPM.

[2018-08-10 15:38] valerybugakov commented on #39
Yeah, it seems that `flex-box` styling doesn't allow selectox to receive right X and Y coordinates. Do you have any thoughts on how to fix it?

[2018-08-30 11:39] Studio384 commented on #39
I am running into the same issue, do you happen to have a fix for this?

[2018-08-30 13:36] valerybugakov commented on #39
@Studio384 I'm not actively using the library at the moment. PRs welcome! 😊

[2018-09-03 13:51] Studio384 opened #40 "Deselect on onSelectionFinish"
My usecase is as follows: Users can select an number of cells in an table to mark that at that point in time a certain thing has to happen. They can do this with multiple colors and thus the `onSelectionFinished`-event always writes the selected fields away to an array which on its turn render the visual field with the different colors. However, the selected boxes remain "selected". How can I dese

[2018-09-03 14:55] #40 closed

[2018-10-01 18:20] b-mahjour commented on #39
The way I fixed this was by removing any elements above the selectable container within the flex-box, and hard coded (position: absolute; top:0; left:0) those elements outside of the flex-box. Then hard code the location of the flex-box (position: absolute; bottom:0; width:100%). You may have to play around with it a little but it should work.

[2018-10-23 21:29] harry-sm opened #42 "Horizontal scrolling container"
If the container has vertical scrolling the selection works great, however, if its horizontal the selection won't scroll horizontally.

Is there a workaround?

[2018-10-26 14:07] valerybugakov commented on #42
@harry-sm it's not implemented in this package. It should be quite easy to add this functionality using the existing codebase, I would be happy to merge such a PR.

[2018-10-31 01:08] rheinheimer opened #43 "Selectbox interferes with mouse events when dragging to the upper left"
In short, when dragging the selection box toward the upper left, react-selectable-fast interferes with mouse events on selectable items (or any items under the mouse for that matter). As far as I can tell, the mouse intermittently moves from the select box element to the selectable element.

This is a problem because I want to track whether or not the mouse is over a selectable element, with *mous

[2018-11-05 16:38] miklschmidt opened #44 "Only use mouse button 0 (left for right handed, right for left handed mice)."
This would be a good idea in general IMO. In my specific use case, i need context menu's on selections which are accessed with the button 2. As it is right now, that causes a new select box, which, with `resetOnStart = true` clears the selection. Kind of unfortunate :)

[2018-11-28 23:52] zachgibson opened #45 "Feature Request: Stop click event propagation"
My use-case is a bit different than your example. I’m rendering pseudo UI, e.g. a button that is comprised of a rectangle and text on top of it. Using this pseudo button as an example, when I click the text, the event propagates and both the text and the rectangle are selected. I need to be able to select items individually regardless if they’re on top of other elements.

![react-selectable-exampl

[2018-12-05 16:02] l1zard opened #46 "selected elements after init"
Is there any posibility of adding starting items into SelectableGroup stored in Redux (array of SelectableItem) ? @valerybugakov

[2018-12-07 01:42] valerybugakov commented on #44
@miklschmidt good catch, I've updated the library to start selection on left button press only for now. Main button  doesn't work for me using track pad and latest chrome on Mac OS. Let me know it solves the issue for you.

[2018-12-07 01:42] #44 closed

[2018-12-07 01:44] valerybugakov commented on #46
Hi @l1zard, it's possible by passing `selected={true}` prop to the `selectable-item`. That way they will be included into the `selected` `Set` maintained by the `SelectableGroup`.

[2018-12-07 01:44] #46 closed

[2018-12-07 01:46] valerybugakov commented on #39
`position: relative;` is added as a default style for the `SelectableGroup` because it's required for the correct positioning of the `SelectBox` component. It should solve the issue.

[2018-12-07 01:46] #39 closed

[2018-12-20 09:04] VincentNewkirk opened #47 "Selectbox Throws React Warning"
[code]

Checking the source code, indeed ```Selectbox``` is returning a ```div```.

Is this intended? Am I implementing these components incorrectly?

A simplified version of my implementation:

[code]

[2018-12-23 12:47] valerybugakov commented on #47
Hey @VincentNewkirk, it's intended behavior, `Selectbox` is a child of the `SelectableGroup`. To fix this warning you can put `tbody` into the `SelectableGroup`.

[2018-12-23 12:47] #47 closed

[2018-12-23 13:11] valerybugakov commented on #45
Hey @zachgibson, it happens because click event is handled the same way as item selection via the select lasso. We collect the coordinates of the click event, then select all selectable items intersecting with these coordinates.

The way to fix it from the top of my head is to handle click separately. If we see that `e.target` is a selectable item then we can just select it instead of calling `thi

[2019-01-18 14:19] JakeAngell commented on #12
Commenting here as I'd like a similar feature.

The `shouldComponentBeSelected` callback sounds like an ok idea but I my use case is slightly different. I'd only like to limit the number of selections when the user is clicking. When the user is dragging, there should be no limit on selected items.

Effectively I want to set a maxSelectedByClick property to 1. So when I click on item A, it becomes

[2019-01-22 09:04] JakeAngell opened #48 "Feature Request: Would like resetOnStart property to only work for clicking, drag select as normal."
Would like a resetOnStart property for selecting seletables via click only. So when I click on item A, it becomes selected, if I then click on item B, A should become deselected and B would become selected.

However, I also want the functionality of selecting 2 selectables in a box, then drawing another box to add more selectables to this.

Effectively, max 1 selected at a time when clicking, whil

[2019-04-01 23:39] mswpac opened #50 "Opposite Of ignoreList"
I'd like to provide a list of selectors to select and ignore all others, basically a whitelist instead of a blacklist - is this supported behaviour?

[2019-04-10 15:35] reedlaw commented on #36
I'm not sure about the intent behind this PR but it makes it hard to re-render selected items by updating props. Say you have a parent component that takes care of saving data or resetting to a previous set of data. How would you update the `selectableItem`?

[2019-06-19 08:35] l1zard opened #52 "register and unregister is undefined"
Hey,
Today I upgraded my webpack v1 to v4 (need update babel for v4)  and I don't know why but i got error in selectable, more in image

![selectable](https://user-images.githubusercontent.com/4013674/59749709-d5f9dc80-927d-11e9-8098-dabecdf42bd1.png)

[2019-06-19 08:54] #52 closed

[2019-07-31 10:28] camdarley opened #53 "Support for Ctrl and Shift key"
I'm trying to get similar behavior to a file browser.
Here is what I'm looking for:
Clicking on a selectable item select this item and deselect all other selected items, so only one item is selected at a time.
If the Ctrl key is pressed while clicking on an element, this element is added to the selection, if said item is already selected, it is removed from the selection.
If the Shift key is press

[2019-07-31 14:50] Spydy opened #54 "Drag select is not working on mobile"
Selecting multiple items with drag select doesn't seem to be working correctly on mobile.

For some reason, it works flawlessly in the demo running in http://valerybugakov.github.io/react-selectable-fast/

But when I run the demo locally it just moves the demo window around and doesn't select anything.

How to replicate:

Go to Chrome developer mode (F12) and use responsive mobile view with touch

[2019-08-06 14:36] monsterooo opened #55 "Prevents event bubbling in child elements of SelectableGroup"
Hi, @valerybugakov

I tried to prevent bubbling of child elements in the program.

[code]

I looked at the source code

[SelectableGroup Event bind](https://github.com/valerybugakov/react-selectable-fast/blob/master/src/SelectableGroup.js#L107)

I made the following attempt

[code]

Do you think you can make some minor adjustments?

Thank you :)

[2019-08-08 07:39] sergejostranow commented on #45
Hey I have a similar question, I guess. The component I use as a `createSelectable` needs to react to a separate `onClick` event - I always want to know which component in the grid was clicked on last. But when I add an `onClick` handler the clicks are being ignored. Do you have any suggestion for me on how to solve it?

I did not understand what you mean by

- is this a function already implement

[2019-08-13 22:27] valerybugakov commented on #54
Hey @Spydy, thanks for the report. I've upgraded codebase to Typescript and fixed the issue with mobile scrolling in the same update. It should be available in the new package version `v3.0.0`. Let me know if the problem still exists.

[2019-08-13 22:27] #54 closed

[2019-08-13 22:29] valerybugakov commented on #42
Horizontal scrolling is released in the latest version `v3.0.0`.

[2019-08-13 22:29] #42 closed

[2019-09-03 14:59] valerybugakov commented on #50
Nope, this behaviour is not supported.

[2019-09-03 14:59] #50 closed

[2019-09-03 15:02] valerybugakov commented on #53
Hey, this behavior is not implemented, so PR is welcome 🤗

[2019-09-03 15:02] #53 closed

[2019-09-09 11:59] bredikhin opened #58 "Modifier keys"
Thanks for creating and maintaining this package, your work is highly appreciated.

Quick question though: is there any specific reason to block selection when any of the modifier keys is pressed?

https://github.com/valerybugakov/react-selectable-fast/blob/883b07e19d536aee3db8d870e5334a79ea7926e2/src/utils/detectMouseButton.ts#L10

Is it made on purpose or there simply was not enough time to hand

[2019-09-20 14:10] polykoi opened #59 "Feature Request: Add ability to disable drag, and leave click or touch to select."
Hi. I have a situation when i need to be able to select with dragging on a desktop version of my app, and with tap on mobile/tablet, because otherwise i would lose ability to scroll.
I was unable to achieve this with current features, and it looks like a common case for all touch devices, and it would be generally useful to have ability to temporarily disable drag selection,  when working with tab

[2019-09-23 08:23] Studio384 opened #60 "onSelectionFinish keeps firing on when unmounted"
Since version 3, when the component that has the SelectableGroup in it unmounts, the onSelectionFinish-event keeps firing (sometimes up to 600+ times).

[2019-09-27 14:31] idengager opened #61 "Error in SelectableItem._this.registerSelectable"
Hey @valerybugakov, I'm having trouble setting up selectable components. I followed the structure of your demo – `Card`, `List` and a HOC with `SelectableGroup` – but I'm getting what looks like a missing ref error:

[code]

I'm at react@16.4.0 & react-selectable-fast@3.0.0. My code is as follows:

- top component:
[code]

- the list:
[code]
- selectable component:
[code]

I'll be grateful for any

[2019-10-08 13:13] snsheth55 opened #62 "React selectable in table format?"
I want to use react selectable for an admin to select times when a user can login, so I want to put it in table when the y axis is days and x axis is hours 0-24, I wanted to know if and how it would be possible with react selectable? Thanks for the help!

[2019-10-21 14:34] andre-araujo opened #64 "Feature Request: Add onSelectionStart method"
## Feature proposal

`onSelectionStart` prop that is fired before selectable bounding boxes are calculated.

## Expected behaviour

Change the sizes of the selectable at the moment that the selection starts.

## Current behaviour

If you what to change the size of the selectable at the moment that you start selecting a wrong bounding box are going to be used to calculate the overlapping.

I can wo

[2019-11-06 20:32] snsheth55 commented on #60
Hey did you figure out a solution to this issue, I am getting a similar error when the component unmounts:

Uncaught TypeError: Cannot read property 'handleSelectionFinish' of null
    at App123.handleSelectionFinish (TestArea5.js:51)
    at Object.SelectableGroup._this.unregisterSelectable [as unregister] (SelectableGroup.js:187)
    at SelectableItem.componentWillUnmount (CreateSelectable.js:101

[2019-11-13 12:53] Studio384 commented on #60
https://github.com/valerybugakov/react-selectable-fast/blob/master/src/SelectableGroup.tsx#L204

This seems to be the offending line. I'm not sure why this behavior would ever be required. Regardless, this illustrates the need for a proper changelog, it wasn't there in 2.3.1.

[2019-11-21 01:33] pisyell opened #66 "When the "scale" attribute of transform is encountered, it is inaccurate"
how to calc

[2019-12-15 08:44] valerybugakov commented on #61
Hi @idengager, `react-selectable-fast@3.0.0` requires `react` and `react-dom` `>16.6.0` because `contextType` [is introduced in this version](https://github.com/facebook/react/blob/master/CHANGELOG.md#1660-october-23-2018). I will update `peerDependencies` requirements in the next release.

[2019-12-15 08:44] #61 closed

[2019-12-15 08:45] valerybugakov commented on #61
Here's the example on [codesandbox](https://codesandbox.io/s/condescending-solomon-excbx?fontsize=14&hidenavigation=1&theme=dark).

[2019-12-15 09:02] valerybugakov commented on #60
@snsheth55 `handleSelectionFinish` sounds like another issue, could you create example with the issue on codesandbox?

[2019-12-15 09:05] valerybugakov commented on #60
@Studio384 the idea of an additional `onSelectionFinish`  call is to notify user that some selected component did unmount and probably should be deleted from the list of the `selectedItems`. It's a good idea not to call this method if unmounted item is not selected yet to avoid redundant `onSelectionFinish` calls.

Does it sound reasonable?

[2019-12-15 09:08] valerybugakov commented on #62
The best way to start with it is to look into [example app from this repo](https://github.com/valerybugakov/react-selectable-fast/tree/master/example/src).
To accomplish that `Table` component should be wrapped into a `SelectableGroup` and each `Cell` component into `createSelectable`.

[2019-12-15 09:08] #62 closed

[2019-12-15 09:10] valerybugakov commented on #66
`scale` is not supported for now, PR is always welcome.

[2019-12-15 09:10] #66 closed

[2019-12-15 09:22] valerybugakov commented on #64
Sounds reasonable, shoot PR with this feature 👍

[2019-12-15 09:22] #64 closed

[2020-01-08 02:05] hibearpanda commented on #59
Similar issue - anyway to disable drag select on touch devices?

[2020-01-25 05:28] skh- opened #68 "Inverse Selection in Responsive Mode"
Thanks for this nice library!

react-selectable-fast seems to select the inverse items when in responsive design mode in chrome.  I am not sure if this is an effect of a setting or something else I'm unaware of, but it seems like strange behaviour.

https://i.gyazo.com/c78f555aa8dee2b26e0c1e2125f3fa4d

[2020-02-03 06:59] Krknv commented on #58
Good question 👍

[2020-02-10 11:26] seeden commented on #60
I have same issue. I am showing loading after onSelectionFinish and unmount whole component. It will call onSelectionFinish multiple times with bad values.

[2020-02-20 10:56] bbdroid opened #70 "it selects wrong for multi line elements because of using getBoundingClientRect"
I think we use getClientRects for getting bound of elements
it returns array of each section for multi line elements

[2020-02-25 14:23] elja opened #74 "Selection isn't accurate when selectable nodes has transform: rotate("n"deg)"
When selectable component has rotation set with CSS transform then `doObjectsCollide` function doesn't work well.  `getBoundsForNode` should also collect rotation information which will be used inside `doObjectsCollide` function. Currently we can't use `react-selectable-fast` together with artboards where selectable components could be rotated.

[2020-02-26 19:57] romecode commented on #60
Seeing the same issue. I have the selection mounted in a tab kind of behavior and when switching tabs onSelectionFinish fn fires with an empty value. Looks like mine fires 3 times.

[2020-02-29 08:20] valerybugakov commented on #70
Fixed: https://github.com/valerybugakov/react-selectable-fast/pull/75

[2020-02-29 08:20] #70 closed

[2020-02-29 10:56] #60 closed

[2020-02-29 10:59] valerybugakov commented on #58
Resolve in https://github.com/valerybugakov/react-selectable-fast/pull/69
Thanks @Krknv

[2020-02-29 10:59] #58 closed

[2020-03-06 15:21] romecode opened #77 "State of SelectableItem not updated on new props"
Hey!

Not sure if this is a proper way to use this.

`{this.props.items.map((item, i) => {
            let selected = this.props.selected.indexOf(item) > -1;
            return (<SelectableComponent key={i} data={item} isSelected={selected} />);
          })}`

This is tied into a parent which passes props to determine already selected items which works. When I setState in the parent and propagate

[2020-03-09 15:22] freelife2010 opened #78 "It works fine for selecting from start of elements. but doesn't work for selecting from end of elements"

[2020-03-16 17:45] AndorLundgren commented on #77
Hi. I also need a controlled component.

I assumed that you could set the prop isSelected on those that you would like to have selected.
Is there a way of select|deselect after initial render?

I usually prefix my props with default on the uncontrolled ones:

- defaultIsSelected <-- used when you want a uncontrolled component
- Selected <-- used when you want to have a controlled

[2020-03-20 10:01] lukjaki commented on #77
This could be fixed by applying initial selected items on SelectableGroup and just passing controlled items as this prop

[2020-03-28 06:00] anandchapter247 opened #79 "Takes too long to render with large amount of data"
Hi, I have a table, and its cells are selectable. There are 15000 rows and each row has 30 Selectable `cells`.
I am having a strange issue with re-rendering.
It's taking longer to re-render

![captured](https://user-images.githubusercontent.com/8499364/77816238-41af8680-70e7-11ea-8736-47cd07dd84d3.gif)

It's working fine if I don't update the state, As soon as I set state, it is taking long.

![im

[2020-03-28 10:23] anandchapter247 commented on #79
@valerybugakov  For reference:

`Versions`
[code]

`App.js`

[code]

`Selectable.js`

[code]

`Cells.js`

[code]

The reason I think is the re-rendering.
Here is the output of `console.timeEnd`

![image](https://user-images.githubusercontent.com/8499364/77820954-21de8980-710c-11ea-84d2-514f707ee664.png)

Please suggest a solution for the issue.

[2020-03-29 07:51] valerybugakov commented on #79
@anandchapter247 could you create a minimal example using [codesandbox](https://codesandbox.io/)? I will be happy to help having it on hand

[2020-03-30 06:19] anandchapter247 commented on #79
Sure! Here it is: https://codesandbox.io/s/unruffled-vaughan-vnox7

[2020-04-11 11:16] valerybugakov commented on #79
@anandchapter247 there're a couple of issues:
1. It's too many items to render and update at once. To handle all these cards interactively you need to use virtualization to avoid rendering all of them.
2. It's possible to make a little bit faster using some react optimizations like `useCallback, memo` etc. I've added a few of them while I was testing: https://codesandbox.io/s/reverent-brattain-97b

[2020-04-11 11:16] #79 closed

[2020-04-25 12:46] anandchapter247 commented on #79
Thanks. I have implemented it with `react-window` and the issue is being fixed. though I am facing another issue, so instead of creating new, I can post it here.
So, what I want if the user clicks on the selectable item with the control/command key, I need the item to be selected but with previously selected items. But if the user selects an item without the control/command key, I need the selecti

[2020-04-28 07:30] anandchapter247 commented on #79
@valerybugakov  did you get a chance to look into my previous comment?

[2020-05-01 02:20] blozano824 opened #83 "Providing isSelected prop does nothing and is always set to the default value false"

[2020-05-01 20:41] timofei7 commented on #83
https://github.com/valerybugakov/react-selectable-fast/blob/ef6ff11beb12a37bc56591e9ad5239767c59e94f/src/CreateSelectable.tsx#L20   this will only set once when the component is first instantiated, if props is updated later this won't update.   maybe that is by design but would think that props should override (say from a server update).

[2020-05-04 11:12] madankz opened #84 "How to set default selected to an item"
I want to set some items default selected how can I achive that.

Thanks!

[2020-05-09 22:15] cathykc opened #85 "Adding a min size for select box before it starts selecting items"
First of all - thank you for open sourcing this component! It's saving me a lot of time since I don't need to build this entirely from scratch.

-----------------------

Thoughts on adding an option to set a min size for the select box before it triggers the `duringSelection`?

When people click their mouse it's highly likely that while the mouse is down they move their mouse slightly. This means

[2020-05-29 04:19] dnquang1996vn commented on #83
I hope `SelectableItem `created by `createSelectable `can have a `deselect/select` prop function in order that we can modify manually `isSelected `prop inside `SelectableItem `

[2020-05-29 08:15] zk-phi commented on #84
FYI: It seems there aren't any official APIs to do that (as far as I see), but if you may use unofficial APIs, this worked for me:

[code]

[2020-06-04 20:40] edsztukowski opened #87 "Merging in the disable-select-start PR"
Would you be willing to take a look at this PR soon? This library is really amazing, but this is the only thing causing issues for me at the moment. I'm integrating this with ReactDnD and need to be able to drag elements in addition to them being set as "selected" without the marquee.

_Originally posted by @floifyed in https://github.com/valerybugakov/react-selectable-fast/pull/81#issuecomment-63

[2020-06-30 03:27] Jwrighty commented on #87
Have just switched over from react-selectable due to some of the performance issues and have this exact use case as well. Would be great to see this worked in

[2020-06-30 05:21] bpmct opened #89 "Scrolling on mobile (touch)"
How can I go about allowing normal page scrolling on a mobile touch device? Currently, it will just try to select things in the SelectableGroup since it is full-width?

[2020-06-30 14:32] edsztukowski commented on #87
For what it's worth @Jwrighty, I sort of have a work around for this. In a parent component that contains `<SelectableGroup>` I have this state:

`const [ disableSelection, setDisableSelection ] = useState(false)`

I pass down `setDisableSelection` to the children of `<SelectableGroup>` and am triggering it with `onMouseEnter` and `onMouseLeave`

`<div ref={props.selectableRef} onMouseEnter={(e) =

[2020-07-01 02:32] Jwrighty commented on #87
Thanks @edsztukowski this works perfectly, am already managing click selection state separately. Appreciate you looping back in on this

[2020-07-02 08:47] bpmct commented on #68
@skh- were you able to fix this? I am experiencing the same thing on mobile (touch) devices occasionally?

[2020-07-02 13:38] skh- commented on #68
sorry, no.  i ended up building something custom for my specific requirements.

[2020-07-13 18:40] sylvestrevgen opened #90 "Ability to start select while user press and hold specific key"
Is it possible to allow select components in selectable group only when user e.g. press and hold Shift key? In other cases it should not be selecting.

[2020-07-28 13:54] shaaandi commented on #68
@bpmct Hi Ben, So are you able to resolve this with some tricks?

[2020-07-28 16:29] bpmct commented on #68
Unfortinately, no. I ended up going with react-table-select.

On Tue, Jul 28, 2020 at 6:55 AM shaaandi <notifications@github.com> wrote:

[2020-08-03 21:02] vickyvishal commented on #45
I have the same issue. Did you find anything? :)

[2020-08-04 10:15] vickyvishal commented on #45
Okay, the only workaround is to move the component with the separate onClick outside the <SelectableGroup /> and place it using the properties selectedItems[i].bounds via css

[2020-08-05 08:37] vickyvishal commented on #40
Hi, How were you able to fix this?

[2020-08-06 08:18] Studio384 commented on #40
I ddin't. I instead opted to make the selected state look like it isn't selected at all. That was the initial solution, but afterwards we built an internal replacement for this that did do the job.

[2020-08-07 07:37] vickyvishal commented on #40
It seems like there should be a way to do this, but can't find it in the documentation. Ergo opening this issue

[2020-08-07 07:47] vickyvishal opened #91 "Deselect on onSelectionFinish"
My use case is, I need to deselect all the selection at some point. The only way to do this right now is a `<DeselectAll/>` button. Is there a function for the same that I can do outside the `<SelectableGroup />` (without using `<DeselectAll/>` as a ref )?

[2020-08-26 10:07] kmasalam opened #92 "Help by giving me a simple react selectable fast demo with react"
Hi, I tried to make react selectable fast serveral time but everytome its throw a error

`./src/List.js
Module not found: Can't resolve './SomeComponent' in 'C:\Users\mccyb\Desktop\reactppa\my-app\src'`
 so if anyone give a simple react selectable fast demo it will be a great help for me...

Thanks in Advance

[2020-10-19 05:09] hellowolrds opened #93 "选中之后，我不想点击中间那部分，导致选中断开"
Could you help me? After selection, I don't want to click the middle part to cause the selection to be disconnected. Is there any way to provide this?

[2020-10-19 05:17] donghainan opened #94 "Could you help me? After selection, I don't want to click the middle part to cause the selection to be disconnected. Is there any way to provide this?"
Could you help me? After selection, I don't want to click the middle part to cause the selection to be disconnected. Is there any way to provide this?

[2020-11-30 12:24] dkirilenko commented on #90
I have the same question. Any ideas ?

[2020-12-16 16:08] qiuweikangdev opened #96 "How to select it by default"
Error by setting setState, and There are also problems with the selectItems method

[2020-12-17 01:26] #96 closed, assigned to nobody

[2020-12-30 10:00] Samin100 commented on #85
This is a great recommendation! A quick hotfix I've found to work well at allowing normal click events to still happen is to swap the `event.preventDefault()` from being called in the `mousedown` event handler, and instead call it in `mousemove` event handler. I'm wondering why this isn't the default behavior, as it makes mouse clicks on a draggable element far more reliable at preventing unintend

[2020-12-30 17:04] rmacuna commented on #26
I have the same problem, I can't  see the mouse selectbox on selecting

[2021-01-05 01:12] rmacuna commented on #89
I have the same problem.
When I try to scroll on mobile is almost impossible. Did you found any workaround to fix this? Could be really helpful

[2021-01-06 14:46] Ruslan commented on #83
As a workaround I've used `componentWillReceiveProps` event to update `SelectableItem` state. With this fix items selects when application state changes.

[code]

[2021-01-12 07:30] kenzo23312 opened #97 "Feature: return coordinates of selection box"
can we return coordinates of Selection box in onSelectionFinish, having many items causes app to lag, this might help with performance to look your selections by coordinates.

[2021-01-12 13:40] ryantando commented on #66
@pisyell have you solved this issue?

[2021-01-29 03:40] heri16 commented on #91
SelectableGroupRef.clearSelection()

[2021-01-29 03:41] heri16 commented on #89
Maybe a way to scroll with two fingers?

[2021-01-29 03:45] heri16 commented on #85
Not sure what is meant by this. Maybe post permalinks to the lines involved?

[2021-01-29 03:52] heri16 commented on #78
Could you provide a more elaborate description?

[2021-01-29 03:53] heri16 commented on #77
Is this a duplicate of https://github.com/valerybugakov/react-selectable-fast/issues/83#issuecomment-755340674

[2021-01-29 04:14] heri16 commented on #59
This project seems dead. It's suggested we make a fork.

[2021-01-29 04:17] heri16 commented on #31
This project seems dead. It's suggested we make a fork.

[2021-01-29 04:18] heri16 commented on #84
It's best handled this way: https://github.com/valerybugakov/react-selectable-fast/issues/77#issuecomment-769557329

[2021-01-29 04:24] heri16 commented on #97
I agree that there is perceivable lag between mouseup and onSelectionFinished.

This project seems dead though. Maybe we could start a fork?

[2021-01-30 11:36] rmacuna commented on #89
That would definitely do the trick

[2021-03-02 08:39] rainbowfeathers opened #98 "No drag Rectangle showing"
Honestly I‘m new to react and use your cool plugin for a project. Everything works fine but when I select, there‘s no drag-rectangle showing up. Any suggestion why this could happen? THX in advance

[2021-03-02 11:22] rainbowfeathers commented on #98
Solution found:
https://github.com/valerybugakov/react-selectable-fast/issues/26

[2021-03-02 11:22] #98 closed, assigned to nobody

[2021-03-18 03:11] Brhernann opened #99 "How to get the props after Unselect the last item"
Hello there,

Am working with this one  and when i unselect the last item, the `onSelect` function is returning me a empty array...
Great! is not item but how to know which one was unselected ?

i tried to send the props with the data that i need from `Cell` to the component where im calling the selectable, i tried `Onclick` but am having problem with React because when i open the modal is renderi

[2021-03-19 10:53] thangddhd opened #100 "Have a small dot when apply my selectable-selectbox css class"
Hi guys,
At first thank you for your open-source component i am using now.
Then, I am using with my css class as below

  z-index: 9000;
  position: absolute;
  cursor: default;
  background-color: none;
  border: 1px dashed grey;
}

as you suggest in here https://github.com/valerybugakov/react-selectable-fast/issues/26#issuecomment-339623654
my problem is after page loaded i see a small dot as th

[2021-03-19 10:54] ludwighen commented on #85
totally agree. I was having the same problem. @Samin100 could you explain your solution?

[2021-03-19 11:04] thangddhd commented on #100
seem the fix already here https://github.com/valerybugakov/react-selectable-fast/pull/88
but i do not know why we do not merge it

[2021-03-23 15:06] PaulRyan97 commented on #85
Also having the same problem, any update on this?

[2021-03-23 19:05] ludwighen commented on #85
I made a PR with this changes #101
But as pointed out, this repo might not be regularly maintained, so if you want to use my fork with the fix:

`npm install github:ludwighen/react-selectable-fast
`

it adds a minSelectSize prop to the SelectableGroup where you can specify pixels distance moved before the selection starts.
I found 8 or 10 to be a good value.

`<SelectableGroup minSelectSize={8}>`

[2021-04-03 12:59] mcunningham commented on #79
@anandchapter247 I am also interested in using react-window alongside react-selectable-fast for large lists of data. Did you end up figuring this out with react-window? @valerybugakov would you have any insights on this?

[2021-04-14 12:42] meth0xy commented on #68
Found a Workarround: mapping TouchEvents to MouseEvents and it works.

[code]

[2021-05-04 12:28] sunilattosol opened #103 "Detect click event"
how to detect click event instead of onSelectionFinish
when click on absolute position div got no response on click

[2021-05-12 03:23] xoptimal commented on #100
The same question, why still not merge, puzzling ~   @valerybugakov

[2021-05-15 12:07] wdjennings commented on #91
This worked for me, with the added caveat that I needed `current` in my ref: (`selectableGroupRef.current.clearSelection()`). I defined my `selectableGroupRef = useRef()`

[2021-06-06 19:45] wdjennings commented on #68
Hi all! I investigated this a bit, seems like [these lines](https://github.com/valerybugakov/react-selectable-fast/blob/b31d776a3805185d6ddb9d32d6eeb133b2492d4e/src/SelectableGroup.tsx#L600) in `SelectableGroup` lead to `pageX` and `pageY` being undefined:

[code]

This in turn causes the `handleClick(evt, pageY, pageX)` event to be called with `undefined` values for `pageX` and `pageY`:

[code]

[2021-06-17 06:30] linxianxi commented on #100
same question @valerybugakov

[2021-07-16 16:27] alvamanu opened #104 "Documentation unclear"
I've been trying to understand documentation for over an hour now. It would be great if you'd have an actual working example of your stuff.

I'm stuck at passing some visible text into SomeComponent without avail. I mean dynamic text that's found when you iterate through your array of objects.

[2021-07-21 00:33] alvamanu opened #105 "Setting selected values to my own state clears current selected values"
Trying to set my own state with the selected values inisde the handleSelectionFinish will update my state but it will also clear the current selection.

`setValues({
      ...values,
      day_parting_values: payload
    });`

As soon as I do a mouse up, my own state will be modified but I won't be able to see what I have selected.

[2021-07-27 02:45] Samuel-Momoh opened #106 "Can not filter array without unselecting all items"
Great work guys for this awesome piece of code😍
I have a list of items  am rendering using react-selectable-fast, i would like to filter the list using an input box. I tried `array.filter` it work but all items selected unselect after filtering the list, is there a workaround for retaining the selected list after running filter on the list?

[2021-09-29 13:44] pink-bunny opened #107 "Selected area has wrong position if use scrollContainer property"
My scrollContainer contains different elements included a table where I need to do a selection. When I try to make a selection selected area is shifted (horizontally and vertically at the same time.
![Screenshot 2021-09-29 at 15 45 42](https://user-images.githubusercontent.com/13289876/135280235-6c4c7a7e-e564-41c1-a497-be7429998ee1.png)
)

[2021-10-13 01:05] loukmane-issa commented on #89
Would a change in this line: https://github.com/valerybugakov/react-selectable-fast/blob/b31d776a3805185d6ddb9d32d6eeb133b2492d4e/src/SelectableGroup.tsx#L506 do the trick to detect if it's a touch event and wait a few 100 ms to verify that there is not another couch coming after? If yes, I can do it, is the package  still taking PR?

[2021-12-23 07:25] linxianxi commented on #45
Can you be more specific or give an example? thank you!

[2021-12-23 07:41] linxianxi commented on #45
I don't understand what to do.Can you be more specific or give an example? thank you

[2022-02-25 08:58] BBuxbaum994 opened #109 "Wrong acting of touch events"
Currently the touch events are not working correctly. Try to singleselect multiple fields, you'll see some strange behavior:
https://codesandbox.io/s/admiring-dubinsky-6gdmm

I had some issues with the attribute allowClickWithoutSelected as well. In some situation it does not work for klick events any more. In this cases onSelectionFinish did not get any value. Selected elements will just return a

[2022-02-25 09:00] BBuxbaum994 commented on #109
Noticed: Touch Events are not working correctly after Version 2.0.2, till this time everything was fine.

[2022-04-04 14:39] #87 closed

[2022-09-10 15:49] jamesbruice commented on #104
I dont get the selection to appear